h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

form {
  text-align: center;
  margin: 40px;
}

#search-bar {
  padding: 15px;
  border-radius: 6px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

button {
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 6px;
  display: block;
  margin: 0 auto;
  font-family: Georgia, "Times New Roman", Times, serif;
}

div {
  text-align: center;
  margin-top: 20px;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
}
